
{% extends 'TaskApp/base.html' %}
{% load static %}
{% block title %}
Task list
{% endblock title %}

{% block content %}
{% for task in task_list %}



<div class="task_list">

  <div class="card" style="width: 24rem;margin: 20px;margin-top: 60px;">
      <img src="{% static 'TaskApp/img/task.png' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ task }}</h5>
        <p class="card-text">Небольшой пример текста, который должен основываться на названии карточки и составлять основную часть содержимого карты.</p>
        <a href="{% url "task_detail" task.pk %}" class="btn btn-dark" style="margin: 5px;" >Task Detail</a>
        <a href="{% url "task_update" task.pk %}" class="btn btn-dark" style="margin: 5px;" >Task Update</a>
        <a href="{% url "task_delete" task.pk %}" class="btn btn-dark " style="margin: 5px;">Task Delete</a>
      </div>
    </div>
  

</div>




   
      {% endfor %}
 

   
{% endblock content %}